body{
	font-family: 'Marck Script', cursive;
	font-family: 'Neucha', cursive;
	font-family: 'Caveat', cursive;
	/*height: 5000px;*/
}

ul, li{
	display: block;
	margin: 0;
	padding: 0;
} 

a:hover{
	text-decoration: none;
}

h1{
	font-family: 'Marck Script', cursive;
	/*text-transform: uppercase;	*/
	text-align: center;
	font-weight: 700;
}

h3{
	font-family: 'Caveat', cursive;
}

p{
	font-family: 'Neucha', cursive;
}

.header{
	background: #C0A28D;
	/*height: 100vh;*/
}

.topheader{
	background: #F7F7F7;
	text-align: center;
	color: #C0A28D;
	/*padding: 40px 0;*/
}

.topheader__title h3{

}

.masterhead{
	width: auto;
	color: #fff;
	margin: 0 auto;	
}

.masterhead h1{
	font-size: 100px;
	padding-top: 100px;	
}

.masterhead p{
	letter-spacing: 8px;
	text-align: center;
}

.product{
	background: #F7F7F7;
	/*padding: 70px 0;*/
}

.product__photo{
	overflow:hidden;		
}

.title-text{
	font-size: 25px;
}

hr{
	margin-top: -20px;
	background: url(../img/venzel_3.png)  50% no-repeat;
	height: 50px;
	border: 0;
}

.product__photo img{
	display: block;
	width: 90%;
	height: auto; 
	margin: 0 auto;
}

.product__photo img {
 -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
 }
 
.product__photo img:hover{
 -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -o-transform: scale(1.1);
 }

 .history{
	background: url(../img/history__bg.jpg);
	height: 500%;
	/*background-attachment: fixed;*/
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
 }

 .history__text{
	text-align: center;	
 }

 .history__text p{
	font-family: 'Caveat', cursive;
	color: #fff;
	font-size: 50px;	
 }

 .column{
 	/*padding: 140px 0;*/
 	background: #F7F7F7;
 }

.technology{
	color: #593B41;
}

.technology__title{
	font-size: 30px;
	font-weight: 700;	
	padding-bottom: 15px;
}

.technology__desc{
	border-top: 2px solid #593B41;
}

.examples{
	background: #ADB0A8;
	/*padding: 140px 0;*/
}

.examples-prev-btn{	
	left: -40px;
}

.examples-next-btn{
	right: -40px;
}

.examples-slider{		
	background: #fff;	
	padding: 30px 15px 0;
	box-shadow: 6px 10px 18px 0 rgba(0, 0, 0, 0.30); /*0.30 это интенсивность тени, можно делать 0,15*/ 
}


.examples-slider-btn{	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	/*height: 40px;*/
	border: none
	outline: none;
}


.fotorama img{	
	margin: 0 auto;
}

footer{
	/*padding: 140px 0;*/
	background: #C0A28D;
}

.avatar{
	border-right: 1px solid #fff;
	padding-right: 30px;
}

.head-foto{
	padding: 0 25px;
}

.social-item{
	padding: 30px 20px 0;
}

.social-link a{
	color: #fff;
}

.fa-stack:hover{
	box-shadow: 0 4px #a1a1a1;
	top: 2px;
}

.fa-stack:active{
	top: 6px;
  	box-shadow: 0 0;
}

.form__item {
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  border-radius: 5px;
  /*width: 80%;*/
  border: 0;
  outline: none;  
}

.form__item input, textarea {
  box-shadow: inset 1px 0px 5px 0px #000000;
  padding: 7px 0;
  padding-left: 10px;
  width: 80%;
}

/**:focus {
  outline: none;
}

.inputGroup {
  position: relative;
  margin-bottom: 30px;
}

.inputGroup label {
  position: absolute;
  top: 0;
  left: 5px;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 16px;
  font-family: 'Neucha', cursive;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.inputGroup input,
.inputGroup textarea {
  display: block;
  width: 280px;
  border: none;
  border-bottom: 1px solid #757575;
  left: 25px;
  padding: 5px;
  font-family: Trebuchet MS;
  background: none;
  color: #fff;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
  top: -20px;
  transition: all 0.3s ease;
  font-size: 13px;
}

.inputGroup input:focus ~ .inputBar:before,
.inputGroup input:focus ~ .inputBar:after,
.inputGroup textarea:focus ~ .inputBar:before,
.inputGroup textarea:focus ~ .inputBar:after {
  width: 50%;
}

.inputGroup textarea {
  height: 100px;
  width: 280px;
  overflow: auto;
  resize: none;
}

.inputGroup .inputBar {
  position: relative;
  display: block;
  width: 290px;
}

.inputGroup .inputBar:before,
.inputGroup .inputBar:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  background: white;
  height: 2px;
  transition: all 0.2s ease;
}

.inputGroup .inputBar:after {
  right: 50%;
}

.inputGroup .inputBar:before {
  left: 50%;
}*/

.knopka button {
  background-color: white;
  border: none;
  padding: 15px 0;
  margin: 0;
  width: 290px;
  color: #3c3c3c;
  text-transform: uppercase;
  font-family: 'Caveat', cursive;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 6px #a1a1a1;
  position: relative;
  cursor: pointer;
}

.knopka button:hover {
  box-shadow: 0 4px #a1a1a1;
  top: 2px;
}

.knopka button:active {
  top: 6px;
  box-shadow: 0 0;
}

@media screen and (max-width: 992px){
	.title{
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 576px){
	.title{
		margin-bottom: 10px;
		padding: 40px 0;
	}

	.masterhead{
	width: auto;
	color: #fff;
	margin: 0 auto;	
}

.masterhead h1{
	font-size: 50px;
	padding-top: 160px;	
}

.masterhead p{
	letter-spacing: 3px;
	text-align: center;
}


	.product__photo img{
		margin-bottom: 15px;
	}

	.avatar{
		border-right: none;		 
	}

	.avatar p{
		text-align: center;
	}	

	.form, .adres {
    text-align: center;
  }

}
